<div class="wrapper">
    <div class="main-panel">
        <app-navbar></app-navbar>
        <br>
        
        <router-outlet>
            <div id="container" class="container">
            <br><br>
             <div class=" card card-chart">
                <div class="col-md-6 offset-md-3">
                    <br>
                    <div class=" typography-line">
                        <p class=" text-primary" >DEJA UN COMPTE AZIZ MARKET PLACE ?</p>
                        <p class=" text-warning" >Connecter vous</p>
                    </div>
                    <form *ngIf="!isSuccessful" name="form" id="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                        novalidate>
                        <div class="form-group">
                            <label for="username">username :</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                                #username="ngModel" placeholder="username" />

                            <div class="text-danger" *ngIf="f.submitted && username.invalid">
                                <div *ngIf="username.errors.required">Username is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">password :</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                            #password="ngModel" placeholder="password" />
                            <div class="text-danger" *ngIf="f.submitted && password.invalid">
                                <div *ngIf="password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" (click)="show()">Login</button>
                        </div>
                        <div class="alert alert-warning" *ngIf="f.submitted && div1 && isLoginFailed" style="text-align: center;">
                            <span class="tim-icons icon-bell-55"> </span>
                            Échec de la connexion ! {{ errorMessage }}
                            <i class=" tim-icons icon-simple-remove pull-right" (click)="hide()"> </i>
                        </div>
                    </form>
                    <br>
                    <br>
                    <div class=" typography-line">
                        <p class=" text-primary">PAS ENCORE DE COMPTE AZIZ MARKET PLACE ?</p>
                        <p class=" text-warning">. Creer un compte pour profiter de tous les avantages </p>
                        <p class=" text-warning">. Rester informer de tous nos nouvotés </p>
                    </div>
                    <div>
                        <a routerLink="/signup" class="btn btn-primary btn-block">
                            Inscription
                        </a>
                    </div>
                    <br>
                    <p routerLink="/index"class=" text-warning pull-right">Back</p>
                </div>
            </div>
            </div>
        </router-outlet>
        <app-footer></app-footer>
    </div>
</div>
