#container {
  padding: 50px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


#placeholder{
  position: absolute;
  top: 25px;
  right:10px;
  bottom: 0;
  height: 24px;
  font-size: 25px;
  margin: auto;
}
