.logo{
    height:75px;
    width: 70px;
    position: absolute;
   
    left: 45%;
    transform: translate(-50%, -50%);
    margin: 40px 30px 40px 50px;
    
}


#placeholder{
    position: absolute;
    top: 25px;
    right:10px;
    bottom: 0;
    height: 24px;
    font-size: 25px;
    margin: auto;
}

