<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="/assets/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
</head>

<body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a routerLink="/index" class="navbar-brand"><img src="assets/img/logo.png" style="height:70px"
                            style="width: 80px"></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item active"></li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#hero-area">
                                <i class=" fas fa-home"> </i>
                                Home
                            </a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="#services">
                                <i class=" fab fa-product-hunt"> </i>
                                Product
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/signin">
                                <i class="fas fa-user-circle"> </i>
                                Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#about">
                                <i class="fas fa-shopping-cart"> </i>
                                Cart
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Hero Area Start -->
        <div id="hero-area" class="hero-area-bg">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="contents">
                            <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">WELCOME</h5>
                            <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">SKIKEN AZIZ </h2>
                            <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Market Place</h5>
                            <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                                <li>
                                    <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#"><i class="icon-social-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="google" href="#"><i class="icon-social-google"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->



    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
        <div class="container">
            <div class="row">
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                        <div class="icon">
                            <i class="icon-grid"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Front-end Development</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="icon-layers"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Graphic Design</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                        <div class="icon">
                            <i class="icon-briefcase"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Business Branding</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-3 col-xs-12">
                    <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                        <div class="icon">
                            <i class="icon-bubbles"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Consultancy</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->
    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">
        <div class="contact-form">
            <div class="container">
                <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="footer-right-area wow fadeIn">
                            <h2>Contact Address</h2>
                            <div class="footer-right-contact">
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <p><a>Ariana , Menzah 5</a> </p>
                                </div>
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <p><a href="skikenaziz@gmail.com">skikenaziz@gmail.com</a></p>

                                </div>
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <p><a>+ (216) 93 545 600</a></p>

                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="col-md-12">
                        <object style="border:0; height: 450px; width: 100%;"
                            data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.6735273271893!2d10.169162915249084!3d36.85029417993822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34a80eaf1227%3A0x70673d2a41e81e98!2s120%20Ave%20d&#39;Afrique%2C%20Ariana!5e0!3m2!1sfr!2stn!4v1615385233047!5m2!1sfr!2stn"></object>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                        <ul class="social-icon">
                            <li>
                                <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="#"><i class="icon-social-google"></i></a>
                            </li>
                        </ul>
                        <p>Copyright © 2021 UIdeck All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script>

</body>

</html>