.control {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #d050db;
    counter-reset: section;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace
  }

  #placeholder{
    position: absolute;
    top: 25px;
    right:10px;
    bottom: 0;
    height: 24px;
    font-size: 25px;
    margin: auto;
}

