button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
   
}
.d{
    margin-left: 5%;
}

.logo{
    height:70px;
    width: 70px;
    margin:0px 0px 0px 20px; 
  }
